.cards {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 4em;
}

.card {
    height: 30rem;
    background-color: var(--color-1);
    border-radius: 16px;
    box-shadow: var(--shadow);
    text-decoration: none;
    box-shadow: var(--shadow-1);
    transition: box-shadow 0.2s, background-color 0.2s ease-in-out;
}

.card:hover {
    background-color: var(--color-2);
    box-shadow: var(--shadow-2);
}

.card-name {
    text-align: center;
    color: var(--color-7);
    font-size: 32px;
}

.card-description {
    text-align: center;
    border-radius: 12px;
    color: var(--color-6);
    font-size: 20px;
    height: 36%;
    overflow-y: auto;
    margin-left: 2em;
    margin-right: 2em;
}

.card-icon {
    margin-top: 2em;
    width: 96px;
    height: 96px;
    border-radius: 12px;
    box-shadow: var(--shadow-1);
}