body {
    --color-0: rgb(13, 17, 23);
    --color-1: rgb(22, 27, 34);
    --color-2: rgb(33, 38, 44);
    --color-3: rgb(222, 222, 222);
    --color-4: rgb(255, 255, 255);
    --shadow-1: 0px 16px 24px -16px rgba(0, 0, 0, 0.3);
    --shadow-2: 0px 16px 24px 0px rgba(0, 0, 0, 0.4);


    background-color: var(--color-0);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 1em;
}