::-webkit-scrollbar {
    width: 10px;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(46, 52, 64);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(69, 76, 92);
    border-radius: 12px;
}